.main-container {
  display: flex;
}

.sidebar {
  box-sizing: border-box;
  flex-shrink: 0;
  width: auto;
  padding: 20px;
}

.content {
  box-sizing: border-box;
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.active-item {
  background-color: var(--surface-d);
}
